fastapi==0.110.0
uvicorn==0.27.1

sqlalchemy==2.0.50

python-jose[cryptography]==3.5.0

passlib[bcrypt]==1.7.4
bcrypt==4.0.1

python-multipart==0.0.9

ecdsa==0.19.2
rsa==4.9.1
pyasn1==0.6.3
six==1.17.0

typing_extensions==4.15.0
greenlet==3.5.1

psycopg2-binary==2.9.10